---
http_interactions:
- request:
    method: post
    uri: https://gatewaystage.itstgate.com/SmartPayments/transact.asmx/ProcessCreditCard
    body:
      encoding: UTF-8
      string: UserName=BCPr2626&Password=E4727lv1&TransType=Sale&CardNum=4012000033330026&ExpDate=1016&MagData=&NameOnCard=LeeMCardholder&Amount=0.18337901706436788&INVnum=&Zip=&Street=&PNRef=&CVNum=&ExtData=
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<Response xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns=\"http://TPISoft.com/SmartPayments/\">\r\n
        \ <Result>0</Result>\r\n  <RespMSG>Approved</RespMSG>\r\n  <Message>APPROVAL</Message>\r\n
        \ <AuthCode>OK148C</AuthCode>\r\n  <PNRef>543761</PNRef>\r\n  <HostCode>543761</HostCode>\r\n
        \ <GetCommercialCard>False</GetCommercialCard>\r\n  <ExtData>CardType=VISA</ExtData>\r\n</Response>"
  recorded_at: Mon, 22 Jul 2013 20:44:07 GMT
recorded_with: VCR 2.5.0
