---
http_interactions:
- request:
    method: post
    uri: https://gatewaystage.itstgate.com/SmartPayments/transact.asmx/ProcessCreditCard
    body:
      encoding: UTF-8
      string: UserName=BADUNAME&Password=BADPASS&TransType=Sale&CardNum=4012000033330026&ExpDate=1016&MagData=&NameOnCard=LeeMCardholder&Amount=4.965836779809903&INVnum=&Zip=&Street=&PNRef=&CVNum=&ExtData=
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<Response xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns=\"http://TPISoft.com/SmartPayments/\">\r\n
        \ <Result>1001</Result>\r\n  <RespMSG>Invalid Login Information 2</RespMSG>\r\n
        \ <AuthCode />\r\n  <ExtData>CardType=VISA</ExtData>\r\n</Response>"
  recorded_at: Mon, 22 Jul 2013 20:44:04 GMT
recorded_with: VCR 2.5.0
